<section data-ng-controller="HomeController">
	<div id='videoCapture' data-ng-show="!dataUri"></div>
	<div id='picturePreview' data-ng-show="dataUri"><img src="{{dataUri}}"/></div>
	<div id='btnContainer'>
		<input id='snapBtn' type='button' value='Snap Me!' data-ng-click='snap()' data-ng-show='!dataUri' class='btn btn-lg btn-default'/>
		<input id='deleteBtn' type='button' value='Delete' data-ng-click='delete()' data-ng-show='dataUri && !fromLink' class='btn btn-lg btn-default'/>
		<input id='saveBtn' type='button' value='Save' data-ng-click='save()' data-ng-show='dataUri && !fromLink' class='btn btn-lg btn-default'/>
		<input id='newSelfie' type='button' value='New Selfie' data-ng-click='showWebcam()' data-ng-show='fromLink' class='btn btn-lg btn-default'/>
	</div>
	<div data-ng-show='link' id='linkContainer'>
		<p>Link to your Selfie: </p>
		<input type='text' value="{{link}}" id='link' class='form-control'/>
	</div>
	<div id='gallery'>
		<ul>
			<li data-ng-repeat="selfie in selfies"><img src={{selfie.dataUri}} alt=''/></li>
		</ul>
	</div>
</section>